{% extends 'base_template.html' %}
{% load humanize %}

{% block title %}
	{{ user.username }}
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-5">
            <div class="card">
                {% if user.profile_picture %}
                    <img src="{{ user.profile_picture.url }}" height="300" width="300" alt="" class="card-img-top">
                {% endif %}

                <div class="card-body">
                    <h2 class="card-title">{{ user.username | title }}</h2>
                    <p class="card-text">Address: {{ user.email }}</p>
                    <p class="card-text">User Type: {{ user.user_type }}</p>
                    <p class="card-text">Phone: {{ user.phone }}</p>
                    <p class="card-text">Registered on: {{ user.reg_date }}</p>
                    <p class="card-text">Added On: {{ user.created_at | naturaltime }}</p>
                    <p class="card-text">Updated at: {{ user.updated_at | naturaltime }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
